svg {
  font: 10px sans-serif;
/*  background-color: #f00;*/
}

.area {
  fill: #393;
  stroke: none;
  opacity: 0.8;
  clip-path: url(#clip);
}

.area-energy {
  fill: #9c9;
  stroke: none;
  opacity: 0.9;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.x.axis path {
	stroke: none;
}
.x.axis line {
	stroke: none;
}
.y.axis path {
	stroke: none;
}
.y.axis line {
	stroke: none;
}

.brush .extent {
  stroke: #090;
  fill: #fff;
  fill-opacity: 0;
  shape-rendering: crispEdges;
}

.brush_opaque {
  fill: #fff;
  fill-opacity: .5;
  shape-rendering: crispEdges;
}

.brush_opaque_lines {
  stroke-width: 1;
  stroke: grey;
  shape-rendering: geometricPrecision;
}

.home {
  /*fill: #F8F8F8;*/
  fill: #9c9;
  fill-opacity: .5;
}
.away {
  fill: #D8D8D8;
  fill-opacity: .5;
}

#canvas {
  display: inline-block;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#a1 {
/* the appliance list */
  width: 95%;
}

text {
  font: 12px sans-serif;
  opacity: 0.4;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.rounded-box {
background-color: #9c9;
padding: 15px;
border: 5px solid white;
/*margin: 10px;*/
border-radius:20px;
}

.energy-y-label {
	font-size: 20px;
	fill: #666;
	transform: rotate(-90deg);
}

.timelabelZoom {
	transform: rotate(-90deg);
	font-size: 80px;
	fill: #666;
}
.timelabel {
	/*transform: rotate(-90deg);*/
	font-size: 20px;
	fill: #666;
}
.annotationline {
    fill: none;
    stroke: #9c9;
    stroke-width: 2.5px;
}
.annotation {
  	font-size: 120%;
    fill: #666;
}
.annotation-peak {
  	font-size: 180%;
    fill: #f33;
}
.annotation-peak-circles {
      fill: #f33;
      opacity: 0.7;
}

div.tooltip {
/* showing activities on mouse over */
  position: absolute;
  visibility: hidden;
  padding: 15px;
  background: rgba(60, 100, 60, .8);
  /*border: 3px solid #6c6;*/
  border-radius: 15px;
  pointer-events: none;
  font-size: 200%;
  color: #fff;
  /*opacity: 0;*/
}

/* FOR LINEGRAPH */
.line {
  fill: none;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

.zeroline {
    fill: none;
    stroke: blue;
    stroke-width: 0.5px;
}


.zerolinetext {
    fill: #666;
}
.userLabel {
    font-weight: 900;
    font-size: 1.5em;
    opacity: 0.7;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: none;
}

g.brush>.resize {
    display: none;
}

/* use "FILL" -  "background-color" is only for the legend in index.php*/
.care_self {
    fill: #5a5;
    color: white;
    background-color: #5a5;
}
.food {
    fill: #cb0;
    color: white;
    background-color: #cb0;
}
.recreation {
    fill: #5a5;
}
.care_other {
    fill: #40a;
}
.care_house {
    fill: #40a;
}
.work {
    fill: #40a;
    color: white;
    background-color: #40a;
}
.travel {
    fill: #d66;
}
.other_category {
    fill: #d66;
    color: white;
    background-color: #d66;
}

.colour-key {
    padding: 5px;
    margin: 10px;
    border-radius:10px;
}
