svg {
  font: 10px sans-serif;
/*  background-color: #E7E0CB;*/
}

.area {
  fill: #f8cbad;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.x.axis path {
	stroke: none;
}
.x.axis line {
	stroke: none;
}
.y.axis path {
	stroke: none;
}
.y.axis line {
	stroke: none;
}

#scatterGraph_activities > .axis line {
  fill: none;
  stroke: blue;
  stroke-opacity="0.2"
  shape-rendering: crispEdges;
}


.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#canvas {
  display: inline-block;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/*
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
*/


div.tooltip {
  top: -1000px;
  position: absolute;
  padding: 0 10px;
  background: rgba(255, 255, 255, .90);
/*  background: rgba(235, 219, 189, .80); */
  border: 2px solid burlywood;
  pointer-events: none;
  opacity: 0;  
}
.tooltip-hidden{
  opacity: 0;
}

/* FOR LINEGRAPH */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

.area {
    fill: steelblue;
    stroke: none;
    opacity: 0.1;
}

#areaGraph_brush path {
    fill: steelblue;
    stroke: none;
    opacity: 0.4;
}

.zeroline {
    fill: none;
    stroke: blue;
    stroke-width: 0.5px;
}


.zerolinetext {
    fill: #666;
}
.userLabel {
    font-weight: 900;
    font-size: 1.5em;
    opacity: 0.7;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: red;
}

g.brush>.resize {
    display: none;
}
