svg {
  font: 10px sans-serif;
/*  background-color: #f00;*/
}

.area {
  fill: #393;
  stroke: none;
  opacity: 0.8;
  clip-path: url(#clip);
}

.area-energy {
  fill: #9c9;
  stroke: none;
  opacity: 0.8;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.x.axis path {
	stroke: none;
}
.x.axis line {
	stroke: none;
}
.y.axis path {
	stroke: none;
}
.y.axis line {
	stroke: none;
}

/*
#scatterGraph_activities > .axis line {
  fill: none;
  stroke-opacity="0.2"
  shape-rendering: crispEdges;
}
*/

.brush .extent {
  stroke: #090;
  fill: #fff;
  fill-opacity: 0;
  shape-rendering: crispEdges;
}

.brush_opaque {
  fill: #fff;
  fill-opacity: .5;
  shape-rendering: crispEdges;
}

.brush_opaque_lines {
  stroke-width: 1;
  stroke: grey;
  shape-rendering: geometricPrecision;
}

.home {
  fill: #F8F8F8;
  fill-opacity: .5;
}
.away {
  fill: #D8D8D8;
  fill-opacity: .5;
}

#canvas {
  display: inline-block;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

text {
  font: 12px sans-serif;
  opacity: 0.4;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.energy-y-label {
	font-size: 20px;
	fill: #666;
	transform: rotate(-90deg);
}

.timelabelZoom {
	transform: rotate(-90deg);
	font-size: 80px;
	fill: #666;
}
.timelabel {
	/*transform: rotate(-90deg);*/
	font-size: 20px;
	fill: #666;
}

div.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 0 10px;
  background: rgba(105, 185, 105, .8);
  border: 3px solid #6c6;
  border-radius: 15px;
  pointer-events: none;
  font-size: 130%;
  color: #fff;
  opacity: 0;
}

/* FOR LINEGRAPH */
.line {
  fill: none;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

.zeroline {
    fill: none;
    stroke: blue;
    stroke-width: 0.5px;
}


.zerolinetext {
    fill: #666;
}
.userLabel {
    font-weight: 900;
    font-size: 1.5em;
    opacity: 0.7;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: none;
}

g.brush>.resize {
    display: none;
}
